# Dependencies
node_modules/
target/

# Build outputs
build/
dist/
coverage/

# Environment Variables & Secrets
.env
.env.*
.env.local
.env.*.local
*.env
!.env.example
!**/.env.example

# Uploads & logs
uploads/
*.log
.DS_Store

# IDEs
.idea/
.vscode/
*.iml
